# Файл .htaccess для Apache, который позволяет использовать "чистые" URL
# и перенаправлять все запросы на index.php
RewriteEngine On

# Избежать зацикливания: если уже находимся в public — не переписываем URL
RewriteCond %{REQUEST_URI} !^/public/

# Перенаправление всего остального в папку public
RewriteRule ^(.*)$ public/$1 [L,QSA]
# Если файл или директория существует, не переписывать URL
