
/******************************************************************
/* CSS Reset
/******************************************************************/    

/* 1. Box-sizing: border-box для всех элементов */
*, *::before, *::after {
    box-sizing: border-box;
}
  
  /* 2. Убираем отступы и поля */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}
  
  /* 3. Наследуем шрифты и убираем подчеркивания у ссылок */
a {
    color: inherit;
    text-decoration: none;
}
  
  /* 4. Убираем списочные стили по умолчанию */
ul[role='list'],
ol[role='list'],
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
  /* 5. Убираем стандартный outline при фокусе, но оставляем доступность */
button,
input,
select,
textarea {
    font: inherit;
    outline: none;
    border: none;
    background: none;
}
  
  /* 6. Настройки body */
body {
    position: relative;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #000;
}
  
  /* 7. Изображения по умолчанию адаптивны */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}
  
  /* 8. Убираем пробелы у форм */
input,
button,
textarea,
select {
    margin: 0;
}
  
  /* 9. Наследуем line-height в формах */
input,
textarea,
select,
button {
    line-height: inherit;
}
  
  /* 10. Таблицы без отступов */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    display: block;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}








/******************************************************************
/* Variables
/******************************************************************/

:root {
    /* Main colors */
    --light-gray-color: #d9d9d9;
    --dark-gray-color: #474646;
    --brown-color: #c69978;
    --success-color: #198754;
    --error-color: #f14668;
    --white-color: #fafafa;
    --black-color: #232323;

    /* Font sizes */
    --font-size-xxl: 2.5rem; /* 40px */
    --font-size-xl: 2rem; /* 32px */
    --font-size-l: 1.5rem; /* 24px */
    --font-size-m: 1.25rem; /* 20px */
    --font-size-s: 1rem; /* 16px */

    /* Font weights */
    --font-weight-xxl: 900; /* 900 */
    --font-weight-xl: 700; /* 700 */
    --font-weight-l: 600; /* 600 */
    --font-weight-m: 500; /* 500 */
    --font-weight-s: 400; /* 400 */

    /* Container width */
    --container-width-xl: 1680px; /* desktop min width 1920px */
    --container-width-lg: 1120px; /* large tablets and laptops min width 1200px */
    --container-width-md: 550px; /* small tablets min width 768px */
    --container-width-sm: 100%; /* smartphones */
}
  







/******************************************************************
/* Header
/******************************************************************/

.header {
    position: relative;
    background-color: var(--light-gray-color);
    height: 180px;
	padding: 0 30px;
}

.container {
    max-width: var(--container-width-lg);
    margin: 0 auto;
    height: 100%; /* важно для выравнивания по высоте */
    position: relative;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo,
.header__nav,
.header__account-trigger {
    flex: 1;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
}

.header__nav {
    display: flex;
    justify-content: center;
    gap: 30px;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-l);
	color: var(--black-color);
	text-transform: uppercase;
}

.header__nav a {
    position: relative;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}

.header__nav a.active {
    color: var(--brown-color);
}

.header__nav a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--black-color);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.header__nav a:hover::before {
    width: 100%;
}

.header__nav a.active:hover::before {
    width: 0;
    background-color: transparent;
}

.header__account-trigger {
    display: flex;
    justify-content: flex-end;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-l);
	color: var(--black-color);
	text-transform: uppercase;
}

.header__account-trigger a {
    position: relative;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}

.header__account-trigger a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--black-color);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.header__account-trigger a:hover::before {
    width: 100%;
}

.header__social-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 73%;
    display: flex;
    gap: 20px;
}

.header__social-icons a img {
    display: block;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.header__social-icons a img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

.active {
	color: var(--brown-color);
}

.page-title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
    text-align: left;
    text-transform: uppercase;
    margin-top: 50px;
}








/******************************************************************
/* Footer
/******************************************************************/

.footer {
	background-color: var(--black-color);
	color: var(--white-color);
    padding: 80px 0 50px 0;
    position: relative;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__header {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer__newsletter form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__newsletter form label a {
    color: #A22DC6;
}

.footer__input {
    padding: 10px;
    border-bottom: 2px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: var(--font-size-s);
}

.footer__form-btn {
    padding: 10px;
    border: 2px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: var(--font-size-s);
    width: 40%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer__form-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.footer__check-block {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

/* Скрываем оригинальный checkbox */
.footer__checkbox {
    display: none;
}

/* Создаем кастомный вид чекбокса */
.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid var(--white-color);
    background-color: transparent;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    transition: background-color 0.2s;
}

/* Ставим галочку при активном чекбоксе */
.footer__checkbox:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.footer__checkbox:checked + .custom-checkbox {
    background-color: #3498db;
    border-color: #3498db;
}

/* Наведение */
.footer__check-block:hover .custom-checkbox {
    border-color: #2980b9;
}

.footer__nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__link:hover {
    color: var(--dark-gray-color);
}

.footer__social-block {
    display: flex;
    gap: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
}

.social-link:hover .social-icon {
  fill: #A22DC6; /* цвет при наведении */
}

.footer__copyright {
    text-align: center;
    margin: 0 auto;
}








/******************************************************************
/* Home Page
/******************************************************************/

.posts {
    margin: 50px 0;
}

.posts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.post__item {
    position: relative;
    border: 1px solid var(--light-gray-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr min-content;
}

.post__item h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
}

.post__item_image {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    object-fit: cover;
}
.post__item_header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.post__item_content {
    grid-area: 2 / 1 / 3 / 3;
    padding: 40px 20px;
    text-align: left;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    color: var(--black-color);
}

.post__item-down_wrapper {
    position: relative;
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.post__item-down_wrapper::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    top: 0;
    left: 12px;
    background-color: var(--light-gray-color);
}

.read-more {
    display: block;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.read-more:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.post__item-down_img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.post__item-down_name {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.post__item-down_name:hover {
    color: var(--dark-gray-color);
}







/******************************************************************
/* Register and Login Page
/******************************************************************/

.main-form__wrapper {
    margin: 50px auto;
    background-color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.main-form__wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.main-form label {
    display: block;
    margin: 15px 0 5px;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
}

.main-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.main-form a {
    color: #4a00ff;
    text-decoration: none;
    font-weight: var(--font-weight-l);
}

.main-form a:hover {
    text-decoration: underline;
    color: #A22DC6;
}

.main-form button {
    margin-top: 30px;
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
}

.main-form button:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.terms label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;

}

.back-to {
    margin-top: 20px;
    text-align: center;
}






/******************************************************************
/* All Categories Page
/******************************************************************/

.categories {
    margin: 50px 0;
}

.categories__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.category__item {
    position: relative;
    border: 1px solid var(--light-gray-color);
    width: 530px;
    min-height: 580px;
    text-align: center;
    padding-bottom: 100px;
}

.category__item_image {
    width: 100%;
    height: 300px;
    object-fit: cover
}

.category__item_name {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.category__item_description {
    text-align: right;
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    color: var(--black-color);
}

.category__item_link {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);    
    display: block;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.category__item_link:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}
