
/******************************************************************
/* CSS Reset
/******************************************************************/    

/* 1. Box-sizing: border-box для всех элементов */
*, *::before, *::after {
    box-sizing: border-box;
}
  
  /* 2. Убираем отступы и поля */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}
  
  /* 3. Наследуем шрифты и убираем подчеркивания у ссылок */
a {
    color: inherit;
    text-decoration: none;
}
  
  /* 4. Убираем списочные стили по умолчанию */
ul[role='list'],
ol[role='list'],
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
  /* 5. Убираем стандартный outline при фокусе, но оставляем доступность */
button,
input,
select,
textarea {
    font: inherit;
    outline: none;
    border: none;
    background: none;
}
  
  /* 6. Настройки body */
body {
    position: relative;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #000;
}
  
  /* 7. Изображения по умолчанию адаптивны */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}
  
  /* 8. Убираем пробелы у форм */
input,
button,
textarea,
select {
    margin: 0;
}
  
  /* 9. Наследуем line-height в формах */
input,
textarea,
select,
button {
    line-height: inherit;
}
  
  /* 10. Таблицы без отступов */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    display: block;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: flex;
}





/******************************************************************
/* Variables
/******************************************************************/

:root {
    /* Main colors */
    --light-gray-color: #d9d9d9;
    --dark-gray-color: #474646;
    --brown-color: #c69978;
    --success-color: #198754;
    --error-color: #f14668;
    --white-color: #fafafa;
    --black-color: #232323;

    /* Font sizes */
    --font-size-xxl: 2.5rem; /* 40px */
    --font-size-xl: 2rem; /* 32px */
    --font-size-l: 1.5rem; /* 24px */
    --font-size-m: 1.25rem; /* 20px */
    --font-size-s: 1rem; /* 16px */

    /* Font weights */
    --font-weight-xxl: 900; /* 900 */
    --font-weight-xl: 700; /* 700 */
    --font-weight-l: 600; /* 600 */
    --font-weight-m: 500; /* 500 */
    --font-weight-s: 400; /* 400 */

    /* Container width */
    --container-width-xl: 1680px; /* desktop min width 1920px */
    --container-width-lg: 1120px; /* large tablets and laptops min width 1200px */
    --container-width-md: 550px; /* small tablets min width 768px */
    --container-width-sm: 100%; /* smartphones */
}
  







/******************************************************************
/* Header
/******************************************************************/

.header {
    position: relative;
    background-color: var(--light-gray-color);
    height: 180px;
}

.main-container {
    max-width: var(--container-width-xl);
    margin: 0 auto;
    height: 100%; /* важно для выравнивания по высоте */
    position: relative;
}

.header__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
}

/* .header__logo,
.header__nav,
.header__account-trigger {
    flex: 1;
} */

.header__logo {
    justify-self: flex-start;
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 30px;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-l);
	color: var(--black-color);
	text-transform: uppercase;
}

.header__nav a {
    position: relative;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}

.header__nav a:active {
    color: var(--brown-color);
}

.header__nav a.active {
    color: var(--brown-color);
}

.header__nav a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--black-color);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.header__nav a:hover::before {
    width: 100%;
}

.header__nav a.active:hover::before {
    width: 0;
    background-color: transparent;
}

.header__account-trigger {
    display: flex;
    justify-content: flex-end;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-l);
	color: var(--black-color);
	text-transform: uppercase;
}

.header__account-trigger a {
    position: relative;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}

.header__account-trigger a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--black-color);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.header__account-trigger a:hover::before {
    width: 100%;
}

.header__social-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 73%;
    display: flex;
    gap: 20px;
}

.header__social-icons a img {
    display: block;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.header__social-icons a img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}


.page-title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
    text-align: left;
    text-transform: uppercase;
}







/******************************************************************
/* Dropdown Menus
/******************************************************************/
.main-dropdown__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 2;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    padding: 50px 20px;
    background-color: var(--brown-color);
}

.main-dropdown__menu_items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-dropdown__menu_items a,
.dropdown-auth__menu a,
.user-logout__trigger,
.user-delete__trigger {
    position: relative;
    display: block;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dropdown-auth__menu,
.dropdown-account__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 30px;
    padding: 50px 20px;
    z-index: 2;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: var(--brown-color);
}

.dropdown-auth__menu.open,
.dropdown-account__menu.open {
    display: flex;
}

.dropdown__close::before,
.auth-close__trigger::before,
.user-close__trigger::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 18px;
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
    background-color: var(--white-color);
    cursor: pointer;
}

.dropdown__close::after,
.auth-close__trigger::after,
.user-close__trigger::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 27px;
    width: 2px;
    height: 20px;
    transform: rotate(45deg);
    background-color: var(--white-color);
    cursor: pointer;
}

.header-auth__triggers {
    justify-self: flex-end;
}

.header-auth__triggers span {
    position: relative;
    display: block;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.header-auth__triggers img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/******************************************************************
/* Footer
/******************************************************************/

.footer {
	background-color: var(--black-color);
	color: var(--white-color);
    margin-top: 50px;
    padding: 80px 0 50px 0;
    position: relative;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__header {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer__newsletter form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__newsletter form label a {
    color: #A22DC6;
}

.footer__input {
    padding: 10px;
    border-bottom: 2px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: var(--font-size-s);
}

.footer__form-btn {
    padding: 10px;
    border: 2px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: var(--font-size-s);
    width: 40%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer__form-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.footer__check-block {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

/* Скрываем оригинальный checkbox */
.footer__checkbox {
    display: none;
}

/* Создаем кастомный вид чекбокса */
.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid var(--white-color);
    background-color: transparent;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    transition: background-color 0.2s;
}

/* Ставим галочку при активном чекбоксе */
.footer__checkbox:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.footer__checkbox:checked + .custom-checkbox {
    background-color: #3498db;
    border-color: #3498db;
}

/* Наведение */
.footer__check-block:hover .custom-checkbox {
    border-color: #2980b9;
}

.footer__nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__link:hover {
    color: var(--dark-gray-color);
}

.footer__social-block {
    display: flex;
    gap: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
}

.social-link:hover .social-icon {
  fill: #A22DC6; /* цвет при наведении */
}

.footer__copyright {
    text-align: center;
    margin: 0 auto;
}








/******************************************************************
/* Home Page
/******************************************************************/

.home-grid__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    justify-content: center; 
    align-items: flex-start;

}

.posts {
    grid-area: 1 / 1 / 5 / 2; 
    margin: 50px 0;
}

.posts__wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.post__item {
    position: relative;
    border: 1px solid var(--light-gray-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr min-content;
    max-width: 550px;
    margin: 0 auto;
}

.post__item h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
}

.post__item_image {
    grid-area: 1 / 1 / 2 / 2;
    width: 275px;
    height: 275px;
    object-fit: cover;
}
.post__item_header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.post__item_description {
    grid-area: 2 / 1 / 3 / 3;
    padding: 40px 20px;
    text-align: left;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    color: var(--black-color);
}

.post__item-down {
    grid-area: 3 / 1 / 4 / 3;
    padding: 10px;
}

.post__item-down::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    top: 0;
    left: 12px;
    background-color: var(--light-gray-color);
}

.read-more {
    display: block;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.read-more:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.post__item-down_name:hover {
    color: var(--dark-gray-color);
}

.pagination__btn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}






/******************************************************************
/* Register and Login Page
/******************************************************************/

.main-form__wrapper {
    margin: 50px auto;
    background-color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.main-form__wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.main-form label {
    display: block;
    margin: 15px 0 5px;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
}

.main-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.main-form a {
    color: #4a00ff;
    text-decoration: none;
    font-weight: var(--font-weight-l);
}

.main-form a:hover {
    text-decoration: underline;
    color: #A22DC6;
}

.main-form button {
    margin-top: 30px;
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
}

.main-form button:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.terms label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;

}

.back-to {
    margin-top: 20px;
    text-align: center;
}






/******************************************************************
/* All Categories Page
/******************************************************************/

.categories {
    margin: 50px 0;
}

.categories__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.category__item {
    position: relative;
    border: 1px solid var(--light-gray-color);
    width: 530px;
    min-height: 580px;
    text-align: center;
    padding-bottom: 100px;
}

.category__item_image {
    width: 100%;
    height: 300px;
    object-fit: cover
}

.category__item_name {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.category__item_description {
    text-align: right;
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    color: var(--black-color);
}

.category__item_link {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);    
    display: block;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.category__item_link:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}






/******************************************************************
/* Single Post Page
/******************************************************************/

.single-post {
    margin: 50px auto;
}

.single-post__item {
    max-width: var(--container-width-lg);
    width: 100%;
}

.single-post__item img {
    width: 100%;
    height: 610px;
    object-fit: cover;
}

.single-post__item h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-xl);
    color: var(--black-color);
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
}

.single-post__info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.category-name__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.category-name__wrapper img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.category-name__wrapper a {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.category-name__wrapper a:hover {
    color: var(--light-gray-color);
}

.single-post__date,
.single-post__comments-count {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
}


.single-post__text {
    margin-top: 30px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-s);
    color: var(--black-color);
}

.leave-comment__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.leave-comment__wrapper img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.leave-comment__wrapper a {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.leave-comment__wrapper a:hover {
    color: var(--light-gray-color);
}






/******************************************************************
/* Author section
/******************************************************************/

.author {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 50px;
}

.author__wrapper {
    max-width: 500px;
    margin-top: 110px;
    margin-left: 50px;
    padding: 50px;
    border: 1px solid var(--light-gray-color);
    text-align: center;
}

.author__wrapper img {
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.author__wrapper h2 {
    margin-top: 30px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
    text-transform: uppercase;
}

.author__wrapper p {
    margin-top: 30px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-s);
    color: var(--black-color);
    text-align: left;
}






/******************************************************************
/* Search section
/******************************************************************/

.search {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 50px;
}

.search__wrapper {
    max-width: 500px;
    margin-left: 50px;
    text-align: left;
}

.search__wrapper h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
    text-transform: uppercase;
}

.search__input {
    position: relative;
    margin-top: 30px;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid var(--light-gray-color);
    border-radius: 50px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
}

.search__input::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";  /* Код иконки лупы в Font Awesome */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--black-color);
    font-size: var(--font-size-m);
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}






/******************************************************************
/* Popular posts section
/******************************************************************/ 

.popular-posts {
    grid-area: 3 / 2 / 4 / 3;
    margin-top: 50px;
    margin-left: 50px;
}

.popular-posts h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
    text-transform: uppercase;
}

.popular-posts__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.popular-post__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.popular-post__item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.popular-post__item a {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}

.popular-post__item a:hover {
    color: var(--light-gray-color);
}





/******************************************************************
/* Categories list section
/******************************************************************/ 

.categories-list {
    grid-area: 4 / 2 / 5 / 3;
    margin-top: 50px;
    margin-left: 50px;
}

.categories-list h2 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    color: var(--black-color);
    text-transform: uppercase;
}

.categories-list__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.categories-list__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.categories-list__item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.categories-list__item a {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.categories-list__item a:hover {
    color: var(--light-gray-color);
}





/******************************************************************
/* MEDIA QUERIES
/******************************************************************/

@media only screen and (max-width: 1700px) {
    .main-container {
        width: var(--container-width-lg);
    }
}





@media only screen and (max-width: 1200px) {
    .main-container {
        width: var(--container-width-md);
    }
}





@media only screen and (max-width: 768px) {
    .main-container {
        width: var(--container-width-sm);
    }
}